<h1>新增課程</h1>

<%= form_for(@course) do |f| %>
<div class="fields">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="fields">
  <%= form.label :price %>
  <%= number._field :price %>
</div>

<div class="fields">
  <%= form.label :intro %>
  <%= form.text_field :intro %>
</div>

<div class="fields">
  <%= form.label :hour %>
  <%= form.number_field :hour %>
</div>

<div class="actions">
  <%= form.submit 'create' %>
</div>
<% end %>