<h1>新增課程</h1>

<% if @course.errors.any? %>
  <ul>
    <% @course.errors.full_message.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@course) do |form| %>
<div class="fields">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="fields">
  <%= form.label :price %>
  <%= number._field :price %>
</div>

<div class="fields">
  <%= form.label :intro %>
  <%= form.text_field :intro %>
</div>

<div class="fields">
  <%= form.label :hour %>
  <%= form.number_field :hour %>
</div>

<div class="actions">
  <%= form.submit 'create' %>
</div>
<% end %>